
.active {
    font-weight: bold;
    color: rgba(6, 77, 139, 0.668) !important;
    transition: color 1.2s ease;
    border-radius: 50px !important;
}
.navbar-nav .nav-link.active{
    border: 1px solid #3b88cc !important;
    background-color: #3b88cc !important;
    border-radius: 50px !important;
    color: #fff !important;
    text-align: center !important;
}
.nav-link:hover, .navbar-brand:hover{
    color: rgba(6, 77, 139, 0.668);
    transition: color 1s ease;
    border-radius: 50px !important;
}

.card-title, .nav-tabs, .nav-link, label, .navbar-brand{
    color: black;
    margin: 10px 0;
    border-radius: 50px !important;
    transition: color 1s ease;
}

.input-group .btn {
    position: absolute;
    z-index: 100;
    right: -1px;
    border-radius: 2px !important;
}

#id{
    position: relative;
}

.btn-submit-login{
    margin: 10px 0;
}

#agreeToTerms{
    margin: 14px 5px 0px -23px ;
}

.menu2{
    position: relative;
    cursor: pointer;
}

.submenu{
    position: absolute;
    margin-top: 10px;
    z-index: 100;
    background-color: #fff;
    width: 180px;
    border-radius: 5px;
    border: 1px solid #ede9e9;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.submenu-item{
    padding: 10px 0;
}

#navbarNav{
    justify-content: space-between;
}